#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Outlook (PWA)
StartupNotify=true
MimeType=x-scheme-handler/mailto;x-scheme-handler/chromium;
Exec=/opt/microsoft/msedge/microsoft-edge --profile-directory=Default --app-id=faolnafnngnfdaknnbpnkhgohbobgegn --app-url=https://outlook.office.com/mail/ %U
Icon=msedge-faolnafnngnfdaknnbpnkhgohbobgegn-Default
StartupWMClass=msedge-_faolnafnngnfdaknnbpnkhgohbobgegn-Default
Actions=New-event;New-message;Open-calendar

[Desktop Action New-event]
Name=New event
Exec=/opt/microsoft/msedge/microsoft-edge --profile-directory=Default --app-id=faolnafnngnfdaknnbpnkhgohbobgegn --app-url=https://outlook.office.com/mail/ --app-launch-url-for-shortcuts-menu-item=https://outlook.office.com/calendar/deeplink/compose

[Desktop Action New-message]
Name=New message
Exec=/opt/microsoft/msedge/microsoft-edge --profile-directory=Default --app-id=faolnafnngnfdaknnbpnkhgohbobgegn --app-url=https://outlook.office.com/mail/ --app-launch-url-for-shortcuts-menu-item=https://outlook.office.com/mail/deeplink/compose

[Desktop Action Open-calendar]
Name=Open calendar
Exec=/opt/microsoft/msedge/microsoft-edge --profile-directory=Default --app-id=faolnafnngnfdaknnbpnkhgohbobgegn --app-url=https://outlook.office.com/mail/ --app-launch-url-for-shortcuts-menu-item=https://outlook.office.com/calendar
